<?xml version="1.0" encoding="UTF-8"?>
<!--

    Spring Boot 介绍
    Spring Boot可以基于Spring轻松创建可以"运行"的、独立的、生产级的应用程序。对Spring平台和第三方类库有自己的看法和意见（约定大于配置）。大多数Spring Boot应用程序需要很少的Spring配置。
    可以使用SpringBoot创建可以使用java -jar或传统war包部署启动的Java应用程序。还提供了一个运行“spring scripts”的命令行工具。
    主要目标：
    1.位所有Spring开发者提供一个更快，更广泛接受的入门体验。
    2.开始使用开箱即用的配置（极少配置甚至不用配置），但随着需求开始配置自己所需要的值（即所有配置都有默认值，同时也可以根据自己的需求进行配置）
    3.提供大量项目中常见的一系列非功能特征（例如嵌入式服务器，安全性，指标，运行状况检查，外部话配置）
    4.绝对没有代码生成，也不需要XML配置

    安装
    1.可以使用Spring Boot CLI安装
    2.使用Maven安装
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>1.5.3.RELEASE</version>
    </parent>

    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
    </dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
        </plugins>
    </build>
-->
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.example</groupId>
    <artifactId>myproject</artifactId>
    <version>0.0.1-SNAPSHOT</version>

    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>1.5.3.RELEASE</version>
    </parent>

    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
    </dependencies>

</project>