<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.health.flowable.mybatis.UserDao">
    <insert id="addUser" useGeneratedKeys="true">
        INSERT INTO mybatis_user VALUES (NULL, #{name}, #{age});
    </insert>

    <select id="findById" parameterType="long" resultType="User">
      SELECT * FROM mybatis_user WHERE id = #{id};
    </select>
</mapper>