<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.health.flowable.mybatis_plus.dao.PPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sun.health.flowable.mybatis_plus.model.PPerson">
        <id column="p_id" property="pId" />
        <result column="p_name" property="pName" />
        <result column="p_age" property="pAge" />
        <result column="p_gender" property="pGender" />
        <result column="p_address_country" property="pAddressCountry" />
        <result column="p_address_province" property="pAddressProvince" />
        <result column="p_address_city" property="pAddressCity" />
        <result column="p_address_county" property="pAddressCounty" />
        <result column="p_birthday" property="pBirthday" />
    </resultMap>

    <select id="selectPPersonList" resultMap="BaseResultMap">
        SELECT * FROM p_person
    </select>

</mapper>
